@import "../vars.scss";

header {
  width: 90rem;
  height: 5.8125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-gap: 1vw;
  background-color: $main-color-3;
  grid-template-areas: "logo space navbar account-info account";
  align-items: center;
  color: $main-color-2;
  font-size: 0.875rem;
  font-weight: 400;
  // position: sticky;
  // top: 0;
  // z-index: 1;

  %link {
    a {
      color: $main-color-2;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logo {
    grid-area: logo;
    height: 93px;
    width: 8.125rem;
    margin-left: 3.75rem;
    background-image: url("../assets/logo.svg");
  }
  .nav_button {
    display: none;
  }
  .navbar {
    grid-area: navbar;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 1rem;
        @extend %link;
      }
    }
  }
  .account_info {
    grid-area: account-info;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 4rem;
    border-radius: 0.3125rem;
    background: rgba(217, 217, 217, 0.3);

    .account_info__label {
      opacity: 0.4;
      font-size: 0.625rem;
      text-align: end;
      line-height: 180%;
      padding-right: 1rem;
    }
    .account_info__value {
      font-size: 0.875rem;
      font-weight: 700;
      .account_info__value_black {
        color: black;
      }
      .account_info__value_green {
        color: #8ac540;
      }
    }
    .account_info__loading {
      .spinner {
        width: 1.5rem;
        height: 1.5rem;
        animation-name: rotation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  .account {
    grid-area: 1 / 4 / 1 /6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.75rem;
    @extend %link;
    .account__separator {
      width: 0.125rem;
      height: 1.625rem;
      padding: 0 1rem;
    }

    .account__link_button {
      font-weight: 500;
      // width: 4.0625rem;
      // height: 1.625rem;
      color: black;
      padding: 0.5rem 1rem;
      border-radius: 0.3125rem;
      text-decoration: none;
      background: $additional-color-1;
      cursor: pointer;
      &:hover {
        background-color: #c1f0ef;
        text-decoration: none;
      }
    }
    .account__name {
      display: flex;
      flex-direction: column;
      align-items: end;
      opacity: 0.7;
      font-size: 0.875rem;
    }
    .account__name_button {
      background-color: $main-color-3;
      padding-top: 0.2rem;
      font-size: 0.625rem;
      opacity: 0.4;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .account__name_avatar {
      padding-left: 0.3rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}

@media (max-width: 600px) {
  header {
    margin: -16px 0;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo account-info account";
    place-items: center;
    gap: 5vw;

    .popup {
      position: fixed;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $main-color-1;
    }

    .navbar {
      display: none;
    }
    .logo {
      width: 6.9375rem;
      height: 6.9375rem;
      grid-area: logo;
      background-size: 101%;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 1rem;
    }
    .nav_button {
      display: block;
      grid-area: account;
      cursor: pointer;
    }
    .account {
      display: none;
    }
  }
}
