* {
  margin: 0;
  padding: 0;
  border: none;
}

@font-face {
  src: url(./assets/fonts/ferry_black.otf);
  font-family: "ferry";
}

html,
body {
  height: 100%;
  font-family: Inter;
  min-width: 90rem;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  main {
    background-color: white;
    width: 83rem;
    // height: 100%;
  }
}
