@import "../vars.scss";
footer {
  color: $main-color-3;
  width: 90rem;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-gap: 1vw;
  background-color: $main-color-1;
  grid-template-areas: "logo space-1 space-2 space-3 contacts";
  // justify-items: center;
  align-items: center;

  .logo {
    grid-area: logo;
    height: 8.8125rem;
    width: 8.8125rem;
    margin-left: 3.75rem;
    background: url("../assets/logo-gray.svg"), lightgray 50% / cover no-repeat;
  }
  .contact {
    margin-right: 2.81rem;
    text-align: end;
    grid-area: 1 / 4 / 1 /6;
    .contacts {
      font-size: 0.875rem;
    }
    .copyright {
      font-size: 0.75rem;
    }
  }
}
@media (max-width: 600px) {
  .footer {
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo contacts";
    .logo {
      width: 6.9375rem;
      height: 6.9375rem;
      background-size: 100%;
      background-position: center center;
      margin-left: 1rem;
    }
  }
}
